
.page__main-slider {
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 100px;
}

.company {
  display: flex;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid red;
  margin-bottom: 100px;
}

.tasks {
  margin-top: 20px;
  margin-bottom: 100px;
}

.project {
  margin-top: 20px;
  margin-bottom: 100px;
}

.footer{
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  width: 100%;
  background: #2C2C2C;
}

